{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ImageProcessing</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/process_image">Process Image</a>
                    <a class="dropdown-item" href="/face_detection">Face Detection</a>
                    <a class="dropdown-item" href="#">Object Detection</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Object Tracking</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
{% block content %}
{% endblock %}

<div id="slantedDiv3" class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
            <h1 class="logo">Image Processing System</h1>
            <h5 class="mt-5">Follow Us</h5>
            <a href="#">
                <i class="fab fa-facebook-square fa-2x"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter-square fa-2x"></i>
            </a>
            <a href="#">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
            <a href="#">
                <span style="">

                    <i class="fab fa-linkedin fa-2x"></i>
                </span>
            </a>

        </div>

        <div class="col-12 col-sm-6  col-md-3 mt-3 mt-md-0">
            <ul class="navbar-nav">
                <li>
                    <h5  class="font-weight-bold">Quick Links</h5>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/about">About Us</a></li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Terms & Conditions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/contact">Contact us</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-sm-6  col-md-3  mt-3 mt-md-0">
            <ul class="navbar-nav">
                <li>
                    <h5  class="font-weight-bold">Services</h5>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/process_image">Process Image</a></li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/face_detection">Face Detection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Color Detection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Number Plate Detection</a>
                </li>
                <li class="nav-item">
                    <a class="#">Report Problem</a>
                </li>
            </ul>

        </div>
        <div class="col-12 col-sm-6 col-md-3  mt-3 mt-md-0">
            <ul class="navbar-nav">
                <li>
                    <h5 class="font-weight-bold">More Services</h5>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Object Tracking</a></li>
                <li class="nav-item">
                    <a class="nav-link text-white">Detect Corners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white">Circle Detection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white">Road Lane Line Detection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white">Template Matching</a>
                </li>
            </ul>

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>