{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Image Comparison</h1>
        <br/><br/>
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <div class="card">
                    <img src="{{image1}}" class="card-img-top" style="width:300px;height:300px">
                    <div class="card-body">
                        <h5 class="card-title">First Image</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-2">
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="card">
                    <img src="{{image2}}" class="card-img-top" style="width:300px;height:300px">
                    <div class="card-body">
                        <h5 class="card-title">Second Image</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-3">
            <div class="col text-center">
                <p>
                    <a class="btn btn-primary mt-2 mt-md-0 mr-5" data-toggle="collapse" href="#collapseDifferenceImage" role="button"
                       aria-expanded="false" aria-controls="collapseDifferenceImage">
                        Find Differences
                    </a>
                    <a class="btn btn-primary mt-2 mt-md-0 mr-5" data-toggle="collapse" href="#collapseMatchedImage" role="button"
                       aria-expanded="false" aria-controls="collapseMatchedImage">
                        Find Similarities
                    </a>
                </p>
            </div>
        </div>
        <div class="row row mt-4 mb-3">
            <div class="col">
                <div class="collapse CollapseAllImage" id="collapseDifferenceImage">
                    <div class="card text-center">
                        {% for msg in messages %}
                        <h3 class="mt-2 mb-2 alert-warning">{{msg}}</h3>
                        {% endfor %}
                        <img src="/static/images/difference_{{image_name}}"
                             class="mx-auto d-block" style="width:600px;height:300px">
                        <div class="card-body">
                            <h5 class="card-title">Differences in the both Images</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row mt-4 mb-3">
            <div class="col">
                <div class="collapse CollapseAllImage" id="collapseMatchedImage">
                    <div class="card text-center">
                        <h3 class="mt-2 mb-2"></h3>
                        <img src="/static/images/flann_{{image_name}}"
                             class="mx-auto d-block" style="width:600px;height:300px">
                        <div class="card-body">
                            <h5 class="card-title">Similarities in the both Images</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}