{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Process Image</h1>
        <p class="lead">Upload the image to perform pre-processing.</p>
        <form method="post" action="/upload/" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="input-group mb-3">
                <input type="file" name="document">
        </div>
        <div class="input-group mb-3">
                <input type="submit" value="Upload Image" class="btn btn-primary">
        </div>
        </form>
    </div>
</div>
{% endblock %}