{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Image Processing</h1>
        <br/><br/>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img src="{{image}}" class="card-img-top" style="width:300px;height:300px" >
                    <div class="card-body">
                        <h5 class="card-title">Source Image</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <p class="mt-4 mb-3">
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseGrayScale" role="button"
                       aria-expanded="false" aria-controls="collapseGrayScale">
                        Get Gray Scale Image
                    </a>
                    <button class="btn btn-primary" type="button" data-toggle="collapse"
                            data-target="#collapseBlurImage"
                            aria-expanded="false" aria-controls="collapseBlurImage">
                        Get Blur Image
                    </button>
                    <button class="btn btn-primary mt-2 mt-sm-0" type="button" data-toggle="collapse"
                            data-target="#collapseCannyImage"
                            aria-expanded="false" aria-controls="collapseCannyImage">
                        Get Canny Image
                    </button>
                    <button class="btn btn-primary mt-2 mt-md-0" type="button" data-toggle="collapse"
                            data-target="#collapseDilateImage"
                            aria-expanded="false" aria-controls="collapseDilateImage">
                        Get Dilation Image
                    </button>

                    <button class="btn btn-primary mt-2 mt-lg-0" type="button" data-toggle="collapse"
                            data-target="#collapseErodeImage"
                            aria-expanded="false" aria-controls="collapseErodeImage">
                        Get Erode Image
                    </button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mt-1">
                <div class="collapse CollapseAllImage" id="collapseGrayScale">
                    <div class="card">
                        <img src="/static/images/gray_{{image_name}}"
                             class="card-img-top" style="width:300px;height:300px">
                        <div class="card-body">
                            <h5 class="card-title">Gray Scale Image</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mt-1">
                <div class="collapse CollapseAllImage" id="collapseBlurImage">
                    <div class="card">
                        <img src="/static/images/blur_{{image_name}}"
                             class="card-img-top" style="width:300px;height:300px">
                        <div class="card-body">
                            <h5 class="card-title">Blur Image</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mt-1">
                <div class="collapse CollapseAllImage" id="collapseCannyImage">
                    <div class="card">
                        <img src="/static/images/canny_{{image_name}}"
                             class="card-img-top" style="width:300px;height:300px">
                        <div class="card-body">
                            <h5 class="card-title">Canny Image</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-md-6 col-lg-4">
                <div class="collapse CollapseAllImage" id="collapseDilateImage">
                    <div class="card">
                        <img src="/static/images/dilate_{{image_name}}"
                             class="card-img-top" style="width:300px;height:300px">
                        <div class="card-body">
                            <h5 class="card-title">Dilation Image</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-1">
                <div class="collapse CollapseAllImage" id="collapseErodeImage">
                    <div class="card">
                        <img src="/static/images/erode_{{image_name}}"
                             class="card-img-top" style="width:300px;height:300px">
                        <div class="card-body">
                            <h5 class="card-title">Erode Image</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

</div>
{% endblock %}